

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --text:          rgb(0, 0, 0);
    --text-light:    rgb(100, 100, 100);
    --background:    rgb(255, 255, 255);
    --primary:       rgb(64, 124, 72);
    --primary-focus: rgb(76, 157, 86);
    --warning:       rgb(132, 114, 13);
    --warning-bg:    rgb(252, 244, 200);
    --danger:        rgb(157, 76, 76);
    --danger-bg:     rgb(249, 200, 200);
    --danger-focus:  rgb(198, 100, 100);

    background-color: var(--background);
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    body {
        --text:          rgb(255, 255, 255);
        --text-light:    rgb(100, 100, 100);
        --background:    rgb(39, 39, 39);
        --primary:       rgb(98, 183, 109);
        --primary-focus: rgb(74, 139, 82);
        --warning:       rgb(221, 205, 112);
        --warning-bg:    rgb(69, 64, 39);
        --danger:        rgb(224, 132, 132);
        --danger-bg:     rgb(72, 44, 44);
        --danger-focus:  rgb(183, 108, 108);
    }
}

button {
    background-color: var(--primary);
    border: 0;
    padding: 0.4em;
    color: var(--background);
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-focus);
}

thead tr td {
    background-color: var(--primary);
    font-weight: bold;
    font-size: small;
    color: var(--background);
    height: 1.5em;
    box-sizing: border-box;
    padding: 0.3em;
}

#items-container {
    margin-top: 1em;
    background-color: transparent;
    width: 100%;
    max-width: 35em;
    table-layout: fixed;
}

#date-header {
    width: 10em;
    min-width: 10em;
}

#daysleft-header {
    width: max-content;
}

#delete-header {
    background-color: transparent;
    width: 2em;
}

tbody tr td {
    padding: 0;
}

.item-name {
    background-color: transparent;
    color: var(--text);
    height: 2em;
    box-sizing: border-box;
    padding: 0.3em;
    margin: 0;
    border: 0;
}

.item-date {
    background-color: transparent;
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 2em;
    box-sizing: border-box;
    padding: 0.3em;
    margin: 0;
    border: 0;
}

.item-daysleft {
    text-align: center;
    font-size: small;
    margin: 0;
}

.warning {
    color: var(--warning);
    background-color: var(--warning-bg);
}

.expired {
    color: var(--danger);
    background-color: var(--danger-bg);
}

.item-delete {
    background-color: var(--danger);
    padding: 0.2em;
    height: 2em;
    width: 100%;
    margin: 0;
}

.item-delete:hover {
    background-color: var(--danger-focus);
}

.noitem {
    color: var(--text-light);
    font-size: medium;
}