body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: rgb(64, 124, 72);
    border: 0;
    padding: 0.4em;
    font-size: large;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(76, 157, 86);
}

#items-container {
    margin-top: 1em;
    background-color: transparent;
}

thead tr td {
    background-color: rgb(64, 124, 72);
    font-size: large;
    font-weight: bold;
    color: white;
    height: 2em;
    box-sizing: border-box;
    padding: 0.3em;
}

tbody tr td {
    padding: 0;
}

.item-name {
    background-color: transparent;
    font-size: large;
    height: 2em;
    max-width: 16em;
    box-sizing: border-box;
    padding: 0.3em;
    margin: 0;
    border: 0;
}

.item-date {
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    height: 2em;
    box-sizing: border-box;
    padding: 0.3em;
    margin: 0;
    border: 0;
}

.item-daysleft {
    text-align: center;
    margin: 0;
}

.warning {
    color: rgb(132, 114, 13);
}

.expired {
    color: rgb(132, 13, 13);
}

.item-delete {
    background-color: rgb(124, 64, 64);
    padding: 0.2em;
    height: 2em;
    width: 2em;
    margin: 0;
}

.item-delete:hover {
    background-color: rgb(157, 76, 76);
}

.noitem {
    color: rgb(100, 100, 100);
    font-size: medium;
    padding: 0.7em;
}